import S from './styles.module.css';

interface I{{name}}Props {
  children?: React.ReactNode;
}

export const {{name}} = ({ children }: I{{name}}) => {
  return (
    <div className={S.root}>
      {children}
    </div>
  );
};