.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  transition: all 0.2s ease-in-out;
  color: var(--text-over-primary);
  padding: 1rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(80%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
}
