.footer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.footer a {
  text-decoration: none;
  color: var(--text-muted);
}

.footer a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--text-muted);
}
